body {
  margin:0;
  background-color:rgba(24, 34, 41, 1);
  background-image:url('../../images/主页/bg.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-0px;
  width:1683px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {

  border-width:0;
  position:absolute;
  left:0;
  top:0;
  width:202px;
  height:202px;
}
#u0 {

  border-width:0;
  position:absolute;
  left:133px;
  top:12px;
  width:202px;
  height:202px;
}
#u0_text {

  border-width:0;
  position:absolute;
  left:0;
  top:0;
  width:0;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0;
  position:absolute;
  left:0;
  top:0;
  width:50px;
  height:50px;
}
#u1 {
  border-width:0;
  position:absolute;
  left:1232px;
  top:43px;
  width:50px;
  height:50px;
}
#u1_text {
  border-width:0;
  position:absolute;
  left:0;
  top:0;
  width:0;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:39px;
  width:68px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1305px;
  top:53px;
  width:65px;
  height:40px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#0BA4C6;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1302px;
  top:39px;
  width:70px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#0BA4C6;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:53px;
  width:65px;
  height:40px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#0BA4C6;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:39px;
  width:75px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:330px;
  width:771px;
  height:1158px;
}
#u6_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:1158px;
  overflow:hidden;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:37px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:296px;
  width:793px;
  height:37px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:37px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1490px;
  width:793px;
  height:37px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:12px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:905px;
  width:1231px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  border-width:0;
  position:absolute;
  left:0;
  top:0;
  width:1218px;
  height:12px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:899px;
  width:1218px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:462px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1064px;
  width:793px;
  height:462px;
  font-size:48px;
  color:#0BA4C6;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:789px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:46px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:249px;
  width:104px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0BA4C6;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:46px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:249px;
  width:104px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0BA4C6;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:46px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:249px;
  width:104px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0BA4C6;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:46px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:249px;
  width:104px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0BA4C6;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}

#u59_img {
  display:none;
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u59 {
  display:none;
  border-width:0px;
  position:absolute;
  left:1302px;
  top:40px;
  width:60px;
  height:60px;
}
#u59_text {
  display:none;
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  display:none;
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u60 {
  display:none;
  border-width:0px;
  position:absolute;
  left:1302px;
  top:39px;
  width:67px;
  height:67px;
}
#u60_text {
  display:none;
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  display:none;
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  color:#0BA4C6;
}
#u61 {
  display:none;
  border-width:0px;
  position:absolute;
  left:1372px;
  top:53px;
  width:65px;
  height:40px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  color:#0BA4C6;
}
#u61_text {
  display:none;
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u62 {
  display:none;
  border-width:0px;
  position:absolute;
  left:1365px;
  top:40px;
  width:75px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
