body {
  margin:0px;
  background-image:url('../../images/知识点录入页/bg.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1119px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:408px;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:108px;
  width:648px;
  height:408px;
}
#u308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:37px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:126px;
  width:38px;
  height:37px;
}
#u309_img.mouseOver {
  left:-10px;
  top:-10px;
  width:58px;
  height:57px;
}
#u309.mouseOver {
}
#u309_img.mouseDown {
}
#u309.mouseDown {
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:165px;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:-7px;
  width:383px;
  height:165px;
  -webkit-transform:rotate(140deg);
  -moz-transform:rotate(140deg);
  -ms-transform:rotate(140deg);
  transform:rotate(140deg);
}
#u310_img.selected {
}
#u310.selected {
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-140deg);
  -moz-transform:rotate(-140deg);
  -ms-transform:rotate(-140deg);
  transform:rotate(-140deg);
  word-wrap:break-word;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#F2F2F2;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:121px;
  width:73px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#F2F2F2;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:60px;
  background:inherit;
  background-color:rgba(90, 219, 246, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:443px;
  width:177px;
  height:60px;
  font-size:28px;
}
#u312_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:60px;
  background:inherit;
  background-color:rgba(11, 164, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u312.mouseDown {
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:179px;
  width:475px;
  height:65px;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:269px;
  width:475px;
  height:65px;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:362px;
  width:475px;
  height:65px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:388px;
  width:447px;
  height:30px;
}
#u316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:209px;
  width:447px;
  height:27px;
}
#u317_input {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:297px;
  width:447px;
  height:30px;
}
#u318_input {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#475259;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:184px;
  width:161px;
  height:23px;
  font-size:20px;
  color:#475259;
}
#u319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#475259;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:272px;
  width:241px;
  height:23px;
  font-size:20px;
  color:#475259;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#475259;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:365px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#475259;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#8F3752;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:244px;
  width:149px;
  height:23px;
  font-size:20px;
  color:#8F3752;
}
#u322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#8F3752;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:335px;
  width:189px;
  height:23px;
  font-size:20px;
  color:#8F3752;
}
#u323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#8F3752;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:427px;
  width:189px;
  height:23px;
  font-size:20px;
  color:#8F3752;
}
#u324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:344px;
  background:inherit;
  background-color:rgba(24, 34, 41, 0.909803921568627);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(90, 219, 246, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:159px;
  width:588px;
  height:344px;
  color:#FFFFFF;
}
#u326_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:139px;
  width:584px;
  word-wrap:break-word;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:51px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:302px;
  width:55px;
  height:51px;
  font-size:12px;
}
#u327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:288px;
  width:81px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
