body {
  margin:0px;
  background-color:rgba(94, 101, 106, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:75px;
  width:92px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:72px;
  width:215px;
  height:39px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:138px;
  width:215px;
  height:39px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:332px;
  width:236px;
  height:42px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#63696D;
  text-align:left;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:70px;
  width:40px;
  height:42px;
}
#u94_img.mouseDown {
}
#u94.mouseDown {
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:141px;
  width:92px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:206px;
  width:139px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:49px;
  background:inherit;
  background-color:rgba(90, 219, 246, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:380px;
  width:128px;
  height:49px;
  font-size:18px;
}
#u97_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u97.mouseDown {
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:206px;
  width:328px;
  height:119px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:119px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#8F3752;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:183px;
  width:194px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#8F3752;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2849px;
  height:1498px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:2849px;
  height:1498px;
  opacity:0.7;
  color:#000000;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:147px;
  background:inherit;
  background-color:rgba(24, 34, 41, 0.909803921568627);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(90, 219, 246, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:188px;
  width:260px;
  height:147px;
  font-size:18px;
  color:#FFFFFF;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:256px;
  word-wrap:break-word;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1740px;
  height:56px;
  background:inherit;
  background-color:rgba(24, 35, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(77, 209, 255, 1);
  -webkit-box-shadow:0px 5px 10px rgba(77, 209, 255, 1);
  box-shadow:0px 5px 10px rgba(77, 209, 255, 1);
}
#u104 {
  border-width:0px;
  position:absolute;
  left:-196px;
  top:0px;
  width:1740px;
  height:56px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:10px;
  width:36px;
  height:36px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:12px;
  width:43px;
  height:32px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:10px;
  width:40px;
  height:40px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#0BA4C6;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:16px;
  width:65px;
  height:24px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#0BA4C6;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:10px;
  width:69px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:17px;
  width:77px;
  height:28px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:10px;
  width:35px;
  height:35px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
