body {
  margin:0px;
  background-color:rgba(24, 34, 41, 1);
  background-image:none;
  position:static;
  left:auto;
  width:613px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:38px;
  width:540px;
  height:50px;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u270_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u270.mouseOver {
}
#u270_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u270.mouseDown {
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:536px;
  word-wrap:break-word;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:364px;
  width:540px;
  height:46px;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u271_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:46px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u271.mouseOver {
}
#u271_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:46px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u271.mouseDown {
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:536px;
  word-wrap:break-word;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:119px;
  width:540px;
  height:50px;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u272_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u272.mouseOver {
}
#u272_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u272.mouseDown {
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:536px;
  word-wrap:break-word;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:283px;
  width:540px;
  height:50px;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u273_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u273.mouseOver {
}
#u273_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u273.mouseDown {
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:536px;
  word-wrap:break-word;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:202px;
  width:540px;
  height:50px;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u274_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u274.mouseOver {
}
#u274_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u274.mouseDown {
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:536px;
  word-wrap:break-word;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:523px;
  width:540px;
  height:50px;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u275_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u275.mouseOver {
}
#u275_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u275.mouseDown {
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:536px;
  word-wrap:break-word;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:443px;
  width:540px;
  height:50px;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u276_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u276.mouseOver {
}
#u276_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u276.mouseDown {
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:536px;
  word-wrap:break-word;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:608px;
  width:540px;
  height:50px;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u277_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u277.mouseOver {
}
#u277_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u277.mouseDown {
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:536px;
  word-wrap:break-word;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:690px;
  width:540px;
  height:50px;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u278_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u278.mouseOver {
}
#u278_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u278.mouseDown {
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:536px;
  word-wrap:break-word;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:853px;
  width:540px;
  height:50px;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u279_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u279.mouseOver {
}
#u279_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u279.mouseDown {
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:536px;
  word-wrap:break-word;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.219607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:772px;
  width:540px;
  height:50px;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u280_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u280.mouseOver {
}
#u280_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(73, 91, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#BFC8D0;
  text-align:left;
}
#u280.mouseDown {
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:536px;
  word-wrap:break-word;
}
